<br><hr>
<div class="bios">
  <h2>{{ i18n[lang].global.authors_bios_label }}</h2>
  {% for a in author %}
  <h3>{{ a.name }}</h3>
  {% if a.bio %}
  {{ a.bio | markdown | safe }}
  {% endif %}
  {% if a.orcid %}
  <p class="orcid"><a href="{{ a.orcid }}" target="_blank" rel="noopener">{{ i18n[lang].global.orcid_label }}: {{ a.orcid | replace("https://orcid.org/", "") }}</a></p>
  {% endif %}
  {% endfor %}
</div>
