{% set basePath = page.url | replace("/es/", "/") | replace("/fr/", "/") %}
<div class="language">
  <a href="{{ basePath | url }}"{% if lang == "en" %} class="active"{% endif %}>en</a> |
  <a href="{{ ('/es' + basePath) | url }}"{% if lang == "es" %} class="active"{% endif %}>es</a> |
  <a href="{{ ('/fr' + basePath) | url }}"{% if lang == "fr" %} class="active"{% endif %}>fr</a>
</div>
