{% set issueArticles = collections[issueTag] | sort(false, false, "data.order") %}

<div id="toc">

<h3>{{ i18n[lang].global.introduction }}</h3>
<ul>
{% for art in issueArticles %}
  {% if art.data.section == "introduction" %}
  <li>
    <a href="{{ art.url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
  </li>
  {% endif %}
{% endfor %}
</ul>

<h3>{{ i18n[lang].global.essays }}</h3>
<ul>
{% for art in issueArticles %}
  {% if art.data.section == "articles" %}
  <li>
    <a href="{{ art.url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
    {% if art.data.pdf != false %}
    <p><a class="alt-link" href="{{ ('/assets' + art.url) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a></p>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ul>

{% set issueInteractives = issues[issueTag].interactives %}
{% if issueInteractives and issueInteractives.length %}
<h3>{{ i18n[lang].global.interactives }}</h3>
<ul>
{% for piece in issueInteractives %}
  <li>
    <a href="{{ piece.url }}">
      <span class="toc-title">{{ piece.title | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% for name in piece.author %}{{ name }}{% if not loop.last %}, {% endif %}{% endfor %}</span>
  </li>
{% endfor %}
</ul>
{% endif %}

<h3>{{ i18n[lang].global.projects }}</h3>
<ul>
{% for art in issueArticles %}
  {% if art.data.section == "projects" %}
  <li>
    <a href="{{ art.url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span><br>
    {% if art.data.layout == "project" %}
      <a class="alt-link" href="{{ art.url }}">{{ i18n[lang].global["read-exchange"] }}</a><span class="alt-link"> | </span><a class="alt-link" href="{{ art.data.link }}" target="_blank">{{ i18n[lang].global["visit-project"] }}</a>
      <a class="alt-link" href="{{ art.data.link }}" target="_blank"><img class="project-image-toc" alt="thumbnail for {{ art.data.title.long }}" src="{{ ('/' + art.data.thumb) | url }}" width="33%" /></a>
    {% endif %}
    {% if art.data.layout == "article" %}
      <a class="alt-link" href="{{ ('/assets' + art.url) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ul>

<h3>{{ i18n[lang].global.reviews }}</h3>
<ul>
{% for art in issueArticles %}
  {% if art.data.section == "reviews" %}
  <li>
    <a href="{{ art.url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
    <p><a class="alt-link" href="{{ ('/assets' + art.url) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a></p>
  </li>
  {% endif %}
{% endfor %}
</ul>

</div>
