{% set issueArticles = collections[issueTag] | sort(false, false, "data.order") %}
{% set introArticles = issueArticles | filterSection("introduction") %}
{% set essayArticles = issueArticles | filterSection("articles") %}
{% set projectArticles = issueArticles | filterSection("projects") %}
{% set reviewArticles = issueArticles | filterSection("reviews") %}
{% set interactiveArticles = issueArticles | filterSection("interactives") %}

<div id="toc">

{% if introArticles.length %}
<h3>{{ i18n[lang].global.introduction }}</h3>
<ul>
{% for art in introArticles %}
  <li>
    <a href="{{ art.url | localizeUrl(lang) | url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if essayArticles.length %}
<h3>{{ i18n[lang].global.essays }}</h3>
<ul>
{% for art in essayArticles %}
  <li>
    <a href="{{ art.url | localizeUrl(lang) | url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
    {% if art.data.pdf != false %}
    {% set artPath = art.url | replace("/es/", "/") | replace("/fr/", "/") %}
    <p><a class="alt-link" href="{{ ('/assets' + artPath) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a></p>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

{# Interactives are listed by their *companion* page, not the raw interactive.
   The companion is an ordinary article -- standard metadata, the linear text,
   the DOI -- and links onward into the authored experience. That means this
   block behaves like every other: localized links, the shared author loop,
   and no special case in search, sitemap or the checks. #}
{% if interactiveArticles.length %}
<h3>{{ i18n[lang].global.interactives }}</h3>
<ul>
{% for art in interactiveArticles %}
  <li>
    <a href="{{ art.url | localizeUrl(lang) | url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
  </li>
{% endfor %}
</ul>
{% endif %}

{% if projectArticles.length %}
<h3>{{ i18n[lang].global.projects }}</h3>
<ul>
{% for art in projectArticles %}
  <li>
    <a href="{{ art.url | localizeUrl(lang) | url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span><br>
    {% if art.data.layout == "project" %}
      <a class="alt-link" href="{{ art.url | localizeUrl(lang) | url }}">{{ i18n[lang].global["read-exchange"] }}</a><span class="alt-link"> | </span><a class="alt-link" href="{{ art.data.link }}" target="_blank">{{ i18n[lang].global["visit-project"] }}</a>
      <a class="alt-link" href="{{ art.data.link }}" target="_blank"><img class="project-image-toc" alt="thumbnail for {{ art.data.title.long }}" src="{{ ('/' + art.data.thumb) | url }}" width="33%" /></a>
    {% endif %}
    {% if art.data.layout == "article" %}
    {% set artPath = art.url | replace("/es/", "/") | replace("/fr/", "/") %}
      <a class="alt-link" href="{{ ('/assets' + artPath) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}

{% if reviewArticles.length %}
<h3>{{ i18n[lang].global.reviews }}</h3>
<ul>
{% for art in reviewArticles %}
  <li>
    <a href="{{ art.url | localizeUrl(lang) | url }}">
      <span class="toc-title">{{ art.data.title | mdInline | safe if art.data.title is string else art.data.title.long | mdInline | safe }}</span>
    </a><br>
    <span class="byline">{% set author = art.data.author %}{% include "author-loop.njk" %}</span>
    {% set artPath = art.url | replace("/es/", "/") | replace("/fr/", "/") %}
    <p><a class="alt-link" href="{{ ('/assets' + artPath) | replace('.html', '.pdf') | url }}" target="_blank">PDF</a></p>
  </li>
{% endfor %}
</ul>
{% endif %}

</div>
