---
layout: default
---

<div class="article">
  <h1 class="page-title">{{ title.long | mdInline | safe if title.long else title }}</h1>
  <p class="byline">{% include "author-loop.njk" %}</p>
  {% if pdf != false %}
  {% set canonicalPath = page.url | replace("/es/", "/") | replace("/fr/", "/") %}
  <p><a class="pdf-download" href="{{ ('/assets' + canonicalPath) | replace('.html', '.pdf') | url }}" target="_blank">⬇ Download PDF</a></p>
  {% endif %}
  <br>

  {% if abstract %}
    {% set originalLanguage = language if language else "en" %}
    {% set translations = {"en": abstract_en, "es": abstract_es, "fr": abstract_fr} %}
    {% set translatedAbstract = translations[lang] %}
    {% set spacer = "<br><hr>" if lang == "en" else "<br><hr><br>" %}
    {% if lang == originalLanguage %}
      <h2>{{ i18n[lang].global.abstract_label }}</h2>
      <p class="abstract">{{ abstract | mdInline | safe }}</p>
    {% elif translatedAbstract %}
      <h2>{{ i18n[lang].global.abstract_label }} {{ i18n[lang].global.abstract_translated_suffix }}</h2>
      <p class="abstract">{{ translatedAbstract | mdInline | safe }}</p>
    {% else %}
      <h2>{{ i18n[lang].global.abstract_label }} {{ i18n[lang].global.abstract_untranslated_suffix }}</h2>
      <p class="abstract">{{ abstract | mdInline | safe }}</p>
    {% endif %}
    {{ spacer | safe }}
  {% endif %}

  {{ content | safe }}
</div>

{% include "bios.njk" %}

<hr>
{% include "footer-nav.njk" %}
