---
layout: default
---

<div class="project">
  <h1 class="page-title">{{ title.long if title.long else title }}</h1>
  <a href="{{ link }}">
    <img class="project-image" alt="{{ title.long if title.long else title }} project thumbnail" src="{{ ('/' + image) | url }}"/>
  </a>
  {{ content | safe }}
  {% include "bios.njk" %}
</div>

<div class="footer">
  <ul id="footer-nav">
    <li><a href="#">{{ i18n[lang].global["return-to-top"] }}</a></li>
    <li> | <a href="{{ issueSlug | issueTocUrl(lang) | url }}">{{ i18n[lang].global.toc }}</a></li>
  </ul>
</div>
