---
layout: page
title: Search
permalink: /search.html
language: en
lang: en
---

<div class="search-wrap">
  <input
    id="search-input"
    type="search"
    placeholder="{{ i18n[lang].search.placeholder }}"
    autofocus
    autocomplete="off"
    spellcheck="false"
  />
  <p id="search-status" class="search-status"></p>
  <div id="search-results"></div>
</div>

{% include "search-script.njk" %}
